/* You can add global styles to this file, and also import other style files */
/* src/styles.css */
body {
    background-color: #cae2eb; /* light grayish-blue */
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
  }
  